[submodule ".vim/runtimes/vim-ruby"]
	path = .vim/runtimes/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule ".vim/runtimes/vim-rails"]
	path = .vim/runtimes/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule ".vim/runtimes/vim-objj"]
	path = .vim/runtimes/vim-objj
	url = git://github.com/nanki/vim-objj.git
[submodule ".vim/runtimes/git-vim"]
	path = .vim/runtimes/git-vim
	url = git://github.com/motemen/git-vim.git
[submodule ".vim/runtimes/vim-surround"]
	path = .vim/runtimes/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".vim/runtimes/vim-prettyprint"]
	path = .vim/runtimes/vim-prettyprint
	url = git://github.com/thinca/vim-prettyprint.git
[submodule ".vim/runtimes/vim-coffee-script"]
	path = .vim/runtimes/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/runtimes/vim-markdown"]
	path = .vim/runtimes/vim-markdown
	url = git://github.com/hallison/vim-markdown.git
