[core]
	ignorecase = false

[user]
	name = Yoshimasa Niwa
	email = niw@niw.at

[alias]
	# See also `shared/git.sh`.
	br = branch
	brs = branch --sort='committerdate'
	ci = commit
	co = checkout
	gr = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
	ref = symbolic-ref --short HEAD
	st = status

[color]
	diff = auto
	status = auto
	branch = auto

[diff]
	algorithm = histogram

[diff "utf-16"]
	textconv = "iconv -f utf-16 -t utf-8"

[mergetool]
	keepBackup = true

[http]
	# Increase HTTP post buffer to 100 MB
	postBuffer = 104857600

[format]
	signature = Yoshimasa Niwa
	signOff = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

# NOTE Use following `git config --system` to set credential helper for system wide.
# not `--global`, since credential storage is per system.
# $ git config --system credential.helper osxkeychain
# This will create a next configuration in system `/etc/gitconfig`.
# Note that GitHub CLI also creates osxkeychain compatible token in Keychain, therefore
# additional credential helper configuration is not needed for GitHub CLI usage.
#[credential]
#	helper = osxkeychain
