[submodule ".vim/pack/default/start/vim-pathogen"]
	path = .vim/pack/default/start/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
	ignore = dirty
[submodule ".vim/pack/default/start/vim-surround"]
	path = .vim/pack/default/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
	ignore = dirty
[submodule ".vim/pack/default/start/vim-fakeclip"]
	path = .vim/pack/default/start/vim-fakeclip
	url = https://github.com/kana/vim-fakeclip.git
	ignore = dirty
[submodule ".vim/pack/default/start/denite.nvim"]
	path = .vim/pack/default/start/denite.nvim
	url = https://github.com/Shougo/denite.nvim.git
	ignore = dirty
[submodule ".vim/pack/default/start/neomru.vim"]
	path = .vim/pack/default/start/neomru.vim
	url = https://github.com/Shougo/neomru.vim.git
	ignore = dirty
[submodule ".vim/pack/default/start/vim-fugitive"]
	path = .vim/pack/default/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
	ignore = dirty
[submodule ".vim/pack/default/start/deoplete.nvim"]
	path = .vim/pack/default/start/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim.git
	ignore = dirty
[submodule ".vim/pack/default/start/swift.vim"]
	path = .vim/pack/default/start/swift.vim
	url = https://github.com/keith/swift.vim.git
	ignore = dirty
