[submodule ".vim/bundle/vim-ruby"]
	path = .vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule ".vim/bundle/vim-rails"]
	path = .vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/vim-objj"]
	path = .vim/bundle/vim-objj
	url = https://github.com/nanki/vim-objj.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/vim-prettyprint"]
	path = .vim/bundle/vim-prettyprint
	url = https://github.com/thinca/vim-prettyprint.git
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = https://github.com/hallison/vim-markdown.git
[submodule ".vim/bundle/unite"]
	path = .vim/bundle/unite
	url = https://github.com/Shougo/unite.vim.git
[submodule ".vim/bundle/vimproc"]
	path = .vim/bundle/vimproc
	url = https://github.com/Shougo/vimproc.git
[submodule ".vim/bundle/unite-outline"]
	path = .vim/bundle/unite-outline
	url = https://github.com/h1mesuke/unite-outline.git
[submodule ".vim/bundle/vim-quickrun"]
	path = .vim/bundle/vim-quickrun
	url = https://github.com/thinca/vim-quickrun.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-poslist"]
	path = .vim/bundle/vim-poslist
	url = https://github.com/thinca/vim-poslist.git
[submodule ".vim/bundle/open-browser"]
	path = .vim/bundle/open-browser
	url = https://github.com/tyru/open-browser.vim.git
[submodule ".vim/bundle/mustache"]
	path = .vim/bundle/mustache
	url = https://github.com/juvenn/mustache.vim.git
[submodule ".vim/bundle/treetop"]
	path = .vim/bundle/treetop
	url = https://github.com/nanki/treetop.vim.git
[submodule ".vim/bundle/vim-scala"]
	path = .vim/bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule ".vim/bundle/vim-submode"]
	path = .vim/bundle/vim-submode
	url = https://github.com/kana/vim-submode.git
[submodule ".vim/bundle/iptables"]
	path = .vim/bundle/iptables
	url = https://github.com/vim-scripts/iptables.git
[submodule ".vim/bundle/vim-pants"]
	path = .vim/bundle/vim-pants
	url = https://github.com/pantsbuild/vim-pants.git
[submodule ".vim/bundle/html5"]
	path = .vim/bundle/html5
	url = https://github.com/othree/html5.vim.git
[submodule ".vim/bundle/neomru"]
	path = .vim/bundle/neomru
	url = https://github.com/Shougo/neomru.vim.git
