[user]
  name = Yoshimasa Niwa
  email = niw@niw.at

[alias]
  ci = commit
  co = checkout
  st = status
  br = branch
  sm = submodule
  gr = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
  d = diff -w

[color]
  diff = auto
  status = auto
  branch = auto

[mergetool]
  keepBackup = true
